.hQsUiY{
    background: #333333!important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
}

.cRmLCo {
    background: #333333!important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
}
.glfuN{
    background:#333333;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
}

.ipSaXD{
    background:#333333;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
}

.iOCYje{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
}

.fBGGBn {
    height: calc(400px - 0px);
}

.dPdbIW {
    width: 400px;
    height: 520px;
}
.kpNwfc{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
}
.eFiiQD{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
}